## Python Basics
### 1. Data Types

In [1]:
type(1)

int

In [2]:
type(1.001)

float

In [4]:
type(True)

bool

In [5]:
type("aritra")

str

### 2. Declaring variables

In [13]:
first_name = 'aritra'
last_name = 'Mukhopadhyay'

In [18]:
print(first_name,last_name)

aritra Mukhopadhyay

In [19]:
print("My first name is {} and last name is {}". format(first_name,last_name))

My first name is aritra and last name is Mukhopadhyay

In [20]:
# length of string using 'len' function -

print(len(first_name))
print(len(first_name+last_name))

6
18

### 3. Python Data Structutres
#### List

In [28]:
#List or array - 
# List is mutable
# Empty List Declaratons --- 

list1 = [] 
list2 = list()

In [29]:
type(list1)

list

In [30]:
type(list2)

list

In [33]:
list2 = ["Aritra", "Mukhopadhyay", 22, 2023, 9.23]

#### Append -
It allows to append an item at the end of the list.

In [34]:
list2.append('KIIT')

In [35]:
list2

['Aritra', 'Mukhopadhyay', 22, 2023, 9.23, 'KIIT']

In [36]:
list2[1:]

['Mukhopadhyay', 22, 2023, 9.23, 'KIIT']

In [37]:
list2[1:5] ## [a:b] here a is inclusive and b is exclusive

['Mukhopadhyay', 22, 2023, 9.23]

#### Insert - 
To insert an item at specific index

In [51]:
list1 = [1,2,3,4]

In [52]:
list1.insert(2,"abc")

In [53]:
list1

[1, 2, 'abc', 3, 4]

#### Append vs Extend

In [54]:
list1.append([6,7]) # appends as nested list

In [55]:
list1

[1, 2, 'abc', 3, 4, [6, 7]]

In [56]:
list1.extend([9,10]) # appends the elements of iterable(list, tuple, set, string) into the list as items

In [57]:
list1

[1, 2, 'abc', 3, 4, [6, 7], 9, 10]

In [58]:
list1.extend('abcd')

In [59]:
list1

[1, 2, 'abc', 3, 4, [6, 7], 9, 10, 'a', 'b', 'c', 'd']

### Operations on List

In [60]:
list3 = [1,2,3,4]

In [61]:
sum(list3)

10

In [62]:
# Pop()

In [63]:
list3.pop()

4

In [64]:
list3

[1, 2, 3]

In [65]:
list3.pop(1) # removes the item at 1st index

2

In [66]:
list3 = [1,1,3,4,5,5,5,6]

In [70]:
# count() - calculate the total occurences of given element of the list
# time complexity - O(n)

In [68]:
list3.count(1)

2

In [69]:
list3.count(5)

3

In [73]:
# index() - returns the index of first occurence. start_index and end_index are oprional
# index(value, start_index, end_index)

list3.index(4)

3

In [74]:
list3.index(1,1,5)

1

### Sets
- It is unordered collection of data
- It has no duplicate elemnets
- It is the representation of sets in Mathematics
- Intersection, Union, Difference operations can be done in sets

In [11]:
set1 = set() # Declaring 
type(set1)

set

In [12]:
set1 = {1,2,3,4,4,5}

In [13]:
set1

{1, 2, 3, 4, 5}

In [14]:
#Indexing in set - Set doesnot support indexing
#set1[0] # It will throw error

#### Inbuilt functions of sets

In [15]:
set2 = {'Iron Man', 'avengers', 'hitman'}

In [16]:
# set.add(value)

In [17]:
set2.add('hulk')
set2

{'Iron Man', 'avengers', 'hitman', 'hulk'}

In [19]:
set1 = {'Iron Man', 'avengers', 'hitman'}
set2 = {'Iron Man', 'avengers', 'hitman', 'hulk'}

In [20]:
# Difference - 
set2.difference(set1)
# But set2 will not be updated.
# we can use set2.difference_update(set1) to update that

{'hulk'}

In [21]:
# Intersection of 2 sets

set2.intersection(set1) 
# same as difference it will not update set2
# use set2.intersection_update(set1)

{'Iron Man', 'avengers', 'hitman'}

### Dictionary
- key : value pair

In [24]:
# Declaration
dict1 = {}

In [25]:
type(dict1)

dict

In [34]:
# Creating a Dictionary
profile_dict = {"first_name":'aritra', "age":23, "college":'kiit'}

In [35]:
# Retriving values from dictionary
profile_dict["first_name"] # use key items to retrieve the value

'aritra'

In [38]:
# Iterating in a Dictionary
for i in profile_dict:
    print(i,"::",profile_dict[i])
    
# if we write {dictionary name} in loop. The looping variable --> keys

first_name :: aritra
age :: 23
college :: kiit

In [39]:
# Iterating inside dictionary and get the values -

for i in profile_dict.values():
    print(i)

aritra
23
kiit

In [41]:
# looping through dictionary to get both keys and values
for i in profile_dict.items():
    print(i)
    print(type(i))
    
# "i" will print key value in form of tuple

('first_name', 'aritra')
<class 'tuple'>
('age', 23)
<class 'tuple'>
('college', 'kiit')
<class 'tuple'>

In [43]:
type(profile_dict.items())

dict_items

### Tuple
- Immutable

In [49]:
#Declaration - 
tuple1 = (1,2,3,4)
tuple1

(1, 2, 3, 4)

In [50]:
# retrieving data from tuple -
tuple1[0]

1

In [51]:
# we cannot modify items in a tuple
#tuple1[0] = 4 # it will throw error

# but we can replace the whole tuple
tuple1 = (4,5)
tuple1

(4, 5)